* {
    margin: 0;
    padding: 0;
    font-family: 'ProzaLibreRegular';
    font-weight: normal;
    font-style: normal;
}
.item{
  margin-left: 50px;
}
.flex-left {
    flex: 2
}
.text1{
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}
.flex-right {
    flex: 1;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.navbar {
  position: relative;
    background-color: #4B0087;
    padding-left: 100px;
    padding-right: 100px;
}

.social {
    text-align: center;
    display: block;
    padding: 7px 10px;
    float: right;
}

.social:hover {
    background-color: #43007A;
}

.sponsors {
    background-color: rgba(56, 0, 102, 0.6);
    padding-top: 30px;

}

.general {
    justify-content: center;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 30px;
}

.twitch {
    text-align: center;

}

.footer {
  margin-top: 30px;
  margin-bottom: 10px;
    color: white;
    text-align: center;
}

.test {
    color: #FFBA08;
    background-color: #43007A;
    text-decoration: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: -4px;
    border-style: solid;
    border-color: #FFBA08;
}

img {
    float: left;
}
.transparent{
 background: rgb(56, 0, 102, 0.8)
}

li {
    display: inline;
    float: left;
    height: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4B0087;
}

li a {
    display: block;
    color: white;
    background-color: #4B0087;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #FFBA08;
    background-color: #43007A;
    text-decoration: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: -4px;
    border-style: solid;
    border-color: #FFBA08;
}

p {}

body {
    background-image: url("bg.png");
    background-repeat: repeat;
}
